@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&display=swap');
/* MAIN */
body {
  margin: 0;
  background-color: #F1DACF !important;
}
header {
  justify-content: space-between !important;
  background-color: #eeebd9;
}
header h4 {
  display: inline;
  font-family: Poppins;
}
#introduction {
  max-width: 40vw;
}
.container {
  display: grid;
}
.logo-img {
  width: 5vw;
}

/* BABY */
.card-img {
  width: 13vw !important;
}
.bg-baby-green {
  background-color: #eeebd9 !important;
}

.progress-image {
  width: 10vw;
  border: 1px solid pink;
}

.progress-clicked {
  width: 40vw;
}
/* APPOINTMENTS */

#content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#content-results {
  max-width: 50%;
}
.appointment-button {
  max-width: 40vw;
  max-height: 10vh;
}
.sm-font-size {
  font-size: 65%;
}
/* NAMES */

.name-info {
  max-height: 30vh;
  overflow: scroll;
}

.name-transition {
  transition: all 5s;
}
/* MEDIA QUERIES */

@media(max-width: 992px) {
  #main-baby-information {
    padding: 0 !important;
  }
  #appointments {
    text-align: center;
  }
}