body {
  margin: 0;
  background-color: #F1DACF !important;
}
header {
  width: 100%;
  background-color: #eeebd9;
}

#content-box {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.container {
  display: grid;
}

.card-img {
  width: 13vw !important;
}

.logo-img {
  width: 5vw;
}

.bg-baby-green {
  background-color: #eeebd9 !important;
}

.appointment-card {
  width: 25vw;
  display: inline;
}